.cart {
  &__breadcrumbs {
    margin-bottom: 55px;

    @include tablet-s {
      margin-left: 3px;
      margin-bottom: 29px;
    }
  }

  &__empty-notification  {
    margin-top: 20vh;
    margin-bottom: 20vh;
    justify-self: center;
    align-self: center;

    text-transform: uppercase;
    text-align: center;

    @include tablet-s {
      @include setRem(12);
    }
  }
}