.catalog {
  margin-bottom: 86px;

  @include tablet {
    margin-bottom: 45px;
  }

  &__header {
    margin-bottom: 64px;

    @include desktop {
      margin-bottom: 44px;
    }

    @include tablet {
      margin-bottom: 25px;
    }
    
    @include tablet-s {
      margin-bottom: 11px;
    }
  }
}