.catalog {
  &__breadcrumbs {
    margin-bottom: 54px;
  }

  &__title {
    position: relative;
    left: -2px;

    margin-bottom: 20px;

    letter-spacing: var(--letter-spacing);
  }

  &__content {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 19px;
    }
  }

  &__filter {
    align-self: flex-start;
  }

  &__filter {
    align-self: flex-start;
  }

  &__product-sections {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-left: 21px;
  }

  &__product-section {
    padding-top: 15.5px;
    
    &-header {
      margin-bottom: 14.5px;
    }

    &-title {
      @include setRem(18);
    }

    &-list {
     gap: 24px 19px;
    }
  }
  
  &__pagination {
    margin-bottom: 48px;  
  }
}