.fade {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: "";
    width: calc(100% - 10px);
    height: 40%;

    background: linear-gradient(transparent, var(--color-light));
    
    pointer-events: none;
  }

  &--little {
    &::after {
      /*При масштабировании до ~50% страницы в firefox из-за увеличения
      scrollbar'а он попадает под fade. Поэтому мы уменьшаем fade.*/
      width: 97%;
      height: 25%;
    }
  }

  &--mobile-hidden {
    &::after {
      @include mobile {
        display: none;
      }
    }
  }
}