.mobile-overlay {
  --mobileOverlayLinkPaddingBlock: 12px;

  width: 100%;
  height: 100%;
  padding: 0 12px;

  color: var(--color-light);

  font-weight: 500;

  border: none;
  background-color: var(--color-dark-blue);

  &:modal {
    max-width: 100%;
    max-height: 100%;
  }

  &__close-button-wrapper {
    display: flex;
    margin-top: 20px;
    margin-right: 12px;
    justify-content: flex-end;
  }

  &__body {
    margin-top: 20px;
  }

  &__list {
    @include flex-center;
    flex-direction: column;
    padding-bottom: 18px;
  }

  &__item {
    display: inline-flex;
  }

  &__link {
    padding-block: var(--mobileOverlayLinkPaddingBlock);

    transition-duration: var(--transition-duration);

    &.current-link {
      text-shadow: 0 0 6px var(--color-light);
    }

    @include hover(itself) {
      color: var(--color-blue);
    }
  }

  &__contacts {
    @include flex-center;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 23px;

    font-style: normal;

    border-top: var(--border-dirty-grey);

    &-email {
      padding-block: var(--mobileOverlayLinkPaddingBlock);
    }
   }
}