.new-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;

  @include tablet {
    margin-bottom: 73px;
  }

  @include mobile {
    margin-bottom: 36px;
  }
  
  &__header {
    margin-bottom: 44px;

    @include desktop {
      margin-bottom: 40px;
    }

    @include tablet {
      margin-bottom: 35px;
    }

    @include mobile {
      margin-bottom: 25px;
    }
  }

  &__link {
    align-self: center;
    margin-top: 82px;

    @include desktop {
      margin-top: 74px;
    }

    @include tablet {
      margin-top: 60px;
    }

    @include mobile {
      margin-top: 41px;
    }
  }
}