.shadow {
  &:focus-within {
    box-shadow: 0 4px 10px 0 rgba(243, 168, 0, 0.25);
    
    transition-duration: var(--transition-duration);

    @media (hover: none) {
      transition-duration: 0s;
    }
  }
  
  @include hover(itself) {
    box-shadow: 0 4px 10px 0 rgba(243, 168, 0, 0.25);
  }
}