.slider {
  position: relative;

  min-height: 477px;

  @include desktop {
    min-height: 400px;   
  }

  @include tablet {
    min-height: 350px;
  }

  @include mobile {
    min-height:340px;
  }

  &__slide {
    display: flex;

    @include tablet {
      flex-direction: column-reverse;
    }

    &-content {
      margin-right: 148px;
      margin-top: 144px;

      font-weight: 400;

      @include desktop {
        margin-right: 108px;
        margin-top: 100px;
      }

      @include tablet {
        margin-right: 0;
        margin-top: 55px;
      }

      @include mobile {
        margin-right: 0;
        margin-top: 42px;
      }
    }

    &-link {
      font-weight: 700;
    }

    &-heading {
      margin-bottom: 50px;

      line-height: 1.1;

      @include desktop {
        margin-bottom: 30px;
      }
      
      @include tablet {
        margin-bottom: 20px;
      }

      &--light-orange {
        color: var(--color-light-orange);
      }
    }

    &-description {
      margin-bottom: 70px;

      color: var(--color-warm-grey);

      @include desktop {
        margin-bottom: 40px;
      }

      @include tablet {
        margin-bottom: 35px;
      }

      @include mobile {
        margin-bottom: 30px;
      }
    }

    &-media {
      width: 51%;
      flex-shrink: 0;
      align-self: flex-start;

      @include tablet {
        width: 100%;
      }
    }

    &-image {
      position: absolute;

      width: calc(50% - var(--container-padding-x));
      height: 448px;

      object-fit: cover;

      @include desktop {
        height: 378px;
      }

      @include tablet {
        position: static;

        width: 100%;
        height: auto;
      }

      @include mobile {
        min-height: 127px;
      }
    }
  }

  &__actions {
    position: absolute;
    bottom: 0;
    left: calc(49% - 10px);
    translate: -100% 0;

    display: flex;
    flex-direction: column;
    gap: 10px;

    @include tablet {
      left: 50%;
      translate: -50% 100px;

      flex-direction: row;
      gap: 20px;
    }

    @include mobile {
      display: none;
    }
  }

  &__button {
    @include flex-center(true);
    width: 32px;
    height: 27px;
    padding: 8px 12px;

    border: 1px solid #ededed;
    border-radius: 3px;
    background-color: var(--color-light);

    @include hover {
      border-color: var(--color-pale-blue);
      background-color: var(--color-pale-blue);
      box-shadow: 0 4px 10px 0 rgba(243, 168, 0, 0.25);

      svg {
        filter: invert(1);
      }
    }

    &-icon {
      &--to-right {
        scale: -1 1;
      }
    }
  }

  &__pagination {
    position: absolute;
    top: calc(100% - 7px);
    left: calc(100% - var(--container-padding-x) - 13px);
    translate: -100% 0;

    width: calc(50% - var(--container-padding-x));
    height: 1px;
    background-color: var(--color-light-grey);

    @include tablet {
      top: auto;
      bottom: 0;
      left: var(--container-padding-x);
      translate: 0 50px;

      width: calc(100% - var(--container-padding-x) * 2);
    }

    @include mobile {
      display: none;
    }
    
    &-list {
      display: flex;
      width: 100%;
      height: auto;
    }

    &-item {
      position: relative;

      flex-basis: 25%;
    }
    
    &-button {
      position: absolute;
      top: -1px;
      translate: 0 -50%;

      height: 19px;
      width: 100%; 

      cursor: pointer;

      &.current-slide {
        &::after {
          content: "";
          display: flex;
          height: 3px;

          border-radius: 3px;
          background-color: var(--color-orange);
        }
      }
    }
  }
}      