@use 'sass:list';

$desktop: 1280px;
$desktop-above: 1281px;

$desktop-s: 1150px;
$desktop-s-above: 1151px;

$desktop-l: 1420px;


$tablet: 1024px;
$tablet-above: 1025px;

$tablet-s: 767px;
$tablet-s-above: 768px;


$mobile: 500px;
$mobile-above: 501px;

$mobile-s: 360px;
$mobile-s-above: 361px;

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin desktop-s {
  @media (max-width: $desktop-s) {
    @content;
  }
}

@mixin desktop-s-above {
  @media (min-width: $desktop-s-above) {
    @content;
  }
}

@mixin desktop-l {
  @media (max-width: $desktop-l) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet-s {
  @media (max-width: $tablet-s) {
    @content;
  }
}

@mixin tablet-s-above {
  @media (min-width: $tablet-s-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (min-width: $mobile-s-above) {
    @content;
  }
}

/*
  Используем список cleanFromDuration, чтобы обнулять transition-duration и 
  таким образом на мобильных устройствах при тапе по соответствующим элементам 
  во всех браузерах видеть не начало или середину анимации, а сразу её финал.
*/

@mixin hover($cleanFromDuration...) {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @if list.index($cleanFromDuration, itself) {
        transition-duration: 0s;
      } 

      @if list.index($cleanFromDuration, innerElements) {
        & * {
          transition-duration: 0s;
        }
      } 

      @if list.index($cleanFromDuration, after) {
        &::after {
         transition-duration: 0s;
       }
      }

      @if list.index($cleanFromDuration, before) {
        &::before {
         transition-duration: 0s;
       }
      }

      @if list.index($cleanFromDuration, innerPseudo) {
        & *::after, & *::before {
         transition-duration: 0s;
       }
      }

      @content;
    }
  }
}