:where(.reset-link) {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

:where(.reset-button) {
  padding: 0;
  background-color: transparent;
  border: none;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}