:root {
  --color-blue: #00bfff;
  --color-dark-blue: #0C0537;
  --color-pale-blue: #3D4F64;
  --color-grey: #e5e5e5;
  --color-grey-alt: #eaeaea;
  --color-dark-gray: #464855;
  --color-light-grey: #EFEFEF;
  --color-warm-grey: #8C8C8C;
  --color-dirty-grey: #535353;
  --color-orange: #f3a800;
  --color-light-orange: #FFC94F;
  --color-light: #ffffff;

  --border-light: 1px solid var(--color-light);
  --border-grey: 1px solid var(--color-grey);
  --border-dirty-grey: 1px solid var(--color-dirty-grey);
  --border-grey-alt: 1px solid var(--color-grey-alt);
  --border-light-blue: 1px solid var(--color-light-blue);
  --border-orange: 2px solid var(--color-orange);

  --border-radius: 2px;
  --border-radius-bottom: 0 0 2px 2px;
  --border-radius-bottom-left: 0 0 0 2px;

  --shadow-light-orange: box-shadow: 0 0 30px 0 var(--color-light-orange);
  --shadow-orange: box-shadow: 0 4px 10px 0 var(--color-orange);

  --font-family-base: "Montserrat", sans-serif;

  --container-width: 1280px;
  --container-padding-x: 20px;

  --button-height: 44px;
  --button-height-small: 27px;
  --buttom-height-large: 55px;

  --input-height: 26px;

  --outline: 1px solid var(--color-blue);

  --transition-duration: 1s;
}